*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 500;
  background: var(--red) url(../images/bg-intro-desktop.png) center / cover;
}

.total {
  display: flex;
  margin: 10%;
}

@media (max-width: 1036px) {
  .total {
    flex-direction: column;
  }
}
